.popup__form {
  margin-top: 27px;
}

/* Стили для поля ввода с ошибкой */
.popup__input_type_error {
  border: 2px solid #e74c3c; /* Красная граница для ошибки */
}

/* Стили для отображения сообщения об ошибке */
.popup__error {
  color: #e74c3c; /* Красный цвет для текста ошибки */
  font-size: 14px; /* Размер шрифта для сообщения об ошибке */
  margin-top: 4px; /* Отступ сверху для отделения от поля ввода */
  display: none; /* Скрыть сообщение по умолчанию */
}

/* Стили для видимого сообщения об ошибке */
.popup__error_visible {
  display: block; /* Показывать сообщение об ошибке */
}

/* Стили для кнопки отправки формы в состоянии неактивности */
.popup__button_disabled {
  background-color: #b2b2b2; /* Серый фон для неактивной кнопки */
  cursor: not-allowed; /* Курсор для неактивной кнопки */
}